@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    behavior: smooth;
}

:root {
    /* --main-bg-color: #575859; */
    --nav-color: #000000;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.page {
    width: 80%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 58px;
}

.logo {
    color: white;
    font-weight: 300;
    font-size: 25px;
}

a {
    text-decoration: none;
}

.name {
    font-weight: 800;
    text-decoration: underline;
}

nav ul {
    list-style: none;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;    
    font-weight: normal;
    margin: 3px;
    padding: 0px 22px;
}

nav ul li a:hover {
    font-weight: bolder;
}

.lets-connect  {
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;
}

main.img {
    width: 100%;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    background-color: transparent;
    color: White;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2;
    margin-left: 20%;
    z-index: 2;
    position: absolute;
}
.intro img {
    border-radius: 500px;
}

.skill {
    background-color: rgb(0, 0, 0);
    width: 1800px;
    height: 500px;
    color: white;
}

.my-skill {
    padding-top: 5px;
    padding-left: 5px;
}   

.html {
    display: flex;
}

.css {
    display: flex;
}

.javascript {
    display: flex;
}

.github {
    display: flex;
}

.skill {
    padding: 20px 30px;
}

.skill .html {
    padding: 20px 0;
}

.skill .css {
    padding: 20px 17px;
}

.skill .javascript {
    padding: 20px 0;
}

.skill .github {
    padding: 20px 28px;
}

.css .desc {
    padding: 13px;
}

.github .desc {
    padding: 0 29px;
}


.project-showcase {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    /* grid-row-gap: 3px;
    grid-column-gap: 3px; */
    background-color: #353535;
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  .project-showcase h1 {
    color: white;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #353535;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  
  /* .my-project h1 {
    text-align: center;
  } */

footer {
    color: lightgrey;
    /* border-top: 1px solid lightgrey; */
    background-color: black;
}

footer h1 {
    padding: 20px;
}

.contact {
    display: flex;
}

footer hr {
    color: lightgray;
}

.Contact-p a{
    display: flex;
    padding-left: 20px;
    padding-bottom: 20px;
    color: lightgray;
}

.Contact-p h3 {
    padding-left: 10px;
}
  
.copyright {
    display: flex;
    border-top: 1px solid rgb(148, 148, 148);
    justify-content: space-around;
}







